/* @import 'tailwindcss'; */

* {
  font-family: 'Rajdhani', monospace;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  inset: 0px;
  z-index: 10;
}

.swiper-pagination-bullet {
  padding: 6px;
  background-color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.stat-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.footer-icon-list {
  display: flex;
  gap: 10px;

  li {
    margin: 0 !important;
  }
}

/* .hero-slide {
  > img {
    height: 100vh;
    object-fit: cover;
  }
} */

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0.5;
    transform: scale(0.5);
  }

  
}
